<p1>
{% extends 'inicio/base.html' %}

{% block content %}

  <h3 align=left>¿QUIENES SOMOS?</h6>
  <p align=left>Somos un equipo de jóvenes emprendedores que intentamos por este medio centralizar la información necesaria para quienes quieran estudiar en Uruguay y necesiten un lugar donde alojarse. Así como también, generar una buena reputación a los propietarios de éstos alojamientos.
  <br></br>
  <h3 align=left>¿COMO LO HACEMOS?</h6>
  <p align=left>Sabemos que encontrar un lugar confiable, donde el trato y el ambiente sean agradables y donde se respete la calidad-precio es impresindible al momento de elegir donde vivir.
Cuando un estudiante se registra en nuestra página, pude acceder a contarnos su experiencia y calificar distintos alojamientos donde haya vivido. De esta forma, será una guía para otros estudiantes.
También los propietarios de alojamientos para estudiantes podrán optar por aparecer destacados en nuestro inicio y de este modo ser mas visibles ante sus posibles inquilinos.
<br></br>
</h3>



  <div align=center class="video">
    <body>

    <iframe width="700" height="350" src="https://www.powtoon.com/embed/f7vTeut0sVe/"></iframe>

    </body>
  </div>

{% endblock %}
