<p1>
{% extends 'inicio/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

  <h3 align=center>CONTACTO</h3>
  <p align=center>Contacta con nosotros, a la brevedad responderemos todas tus dudas.</p>
  <div class="row justify-content-center">
      <div class="col-6">

          <hr class="mt-0 mb-4">
          <h1 align=center class="mt-2">Formulario de contacto:</h1>
          <form align=center method="POST" class="post-form">
              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="btn btn-info"">Enviar mensaje</button>
          </form>
      </div>
  </div>

{% endblock %}
