{% extends 'blog/base.html' %}


{% block content %}


<div class="post-home">
    <h3>{{ post.title }}</h3>

    {% if post.published_date %}
    <small class="text-muted">Publicado el: {{ post.published_date }}</small>
    {% endif %}


    <p class="lead">{{ post.text|linebreaksbr }}</p>

    {% if user.is_authenticated %}
    <form class="form-inline">
        <button class="btn btn-info" type="button"><a href="{% url 'add_comment_to_post' pk=post.pk %}">Añadir opinión</a></button>

    </form>
    {% endif %}

    {% if not user.is_authenticated %}
    <form class="form-inline">
        <button class="btn btn-info" type="button"><a href="/login">Inicia sesión para añadir tu opinión</a></button>

    </form>
    {% endif %}


</div>
<hr>

<h3>Opiniones:</h3>
    {% for comment in post.comments.all %}
    {% if user.is_authenticated or comment.approved_comment %}
<div class="comment">
    <div class="alert alert-warning" role="alert">

        <div class="date">
            <small class="text-muted">
                {{ comment.created_date }}
            </small>
            {% if not comment.approved_comment %}
            <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
            <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
            {% endif %}
        </div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>

</div>
    {% endif %}
    {% empty %}
<p>Aún no hay comentarios :(</p>
    {% endfor %}




    {% endblock %}

