{% extends 'blog/base.html' %}


<!-- Example row of columns -->
        {% block content %}
{% if user.is_authenticated %}
    <div class="row">
        <div class="add-home">
            <button type="button" class="btn btn-warning"><a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span>Agregar alojamiento</a></button>
        </div>
        </div>
        {% endif %}
        <div class="row">
            {% for post in posts %}

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <a href="{% url 'post_detail' pk=post.pk %}">
                        <img class="card-img-top" src="http://shineit.solutions/blog/alojamiento.png">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h4>
                        {{ post.text|linebreaksbr }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'post_detail' pk=post.pk %}">Ver más</a></button>
                            </div>
                            <small class="text-muted"><a href="{% url 'post_detail' pk=post.pk %}">Opiniones: {{ post.approved_comments.count }}</a></small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endblock %}






